body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9ecef;
}

.navegacao { /* altera o cxabeçalho do site */
    background-color: white;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    
}

header{
    text-align: right;
    font-size: large;
}

.navegacao{
    overflow: hidden;
    margin-bottom: 10px;
}

.navegacao a{ /* altera os hyperlinks da classe navegação */
    color: #000000;
    text-decoration: none; /* retira o sublinhado do hypoerlink */
}

.navegacao a:hover{ /* altera a cor dos hyperlinks quando passa o mouse - não é permanente */
    color: #014e86b4;
}

.principal img{ /* altera propriedades do logo tag img */
    width: 100%; /* altera o tamanho da tag img */
}

.principal{
    margin-top: 10px;
}

.rodape{
    text-align: center;
    color: darkgrey;
    font-size: 13px;
}

@media screen and (maxwidth: 600px){
    .principal, .conteudo {
        width:100%;
        flex-direction: column;
        padding: 0px
    }
}