body{
    background-color: #e9ecef;
}

header{ /* altera o cxabeçalho do site */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #014F86;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

.navegacao a{ /* altera os hyperlinks da classe navegação */
    color: rgb(173,173,173);
    text-decoration: none; /* retira o sublinhado do hypoerlink */
    paddin
}

.navegacao a:hover{ /* altera a cor dos hyperlinks quando passa o mouse - não é permanente */
    color: #edf6f9;
}

.principal img{ /* altera propriedades do logo tag img */
    width: 95%; /* altera o tamanho da tag img */
    
}

.rodape{
    text-align: center;
    color: darkgrey;
    font-size: 13px;
}

@media screen and (maxwidth: 600px){
    .principal, .conteudo {
        width:100%;
        flex-direction: column;
        padding: 0px
    }
}