body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: hsl(210, 16%, 93%);
}

.navegacao { /* altera o cxabeçalho do site */
    background-color:  #257EAF;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 3px;
    font-size: large;
}

table{
    width: 100%;
    
}
.b{
    text-align: right;
}

h1{
    text-align: center;
}

.locais{
    width: 80%;
    padding-bottom: 30px;
}

.PONTOS{
    background-color: rgba(255, 255, 255, 0.884);
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.navegacao{
    margin-bottom: 20px;
}

.navegacao a{ /* altera os hyperlinks da classe navegação */
    color: #ffffff;
    text-decoration: none; /* retira o sublinhado do hypoerlink */
}

.navegacao a:hover{ /* altera a cor dos hyperlinks quando passa o mouse - não é permanente */
    color: #d8dbdfe3;
}





.rodape{
    background-color: #257EAF;
    text-align: center;
    color: d=rgb(255, 255, 255);
    padding: 20px;
    font-size: 13px;
}

@media screen and (maxwidth: 600px){
    .principal, .conteudo {
        width:100%;
        flex-direction: column;
        padding: 0px
    }
}